<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("Index","ShoppingCar")"> <img src="/content/Images/cart.png" />购物车(<text id="cart-count">@MusicStore.Models.ShoppingCart.GetCartCount()</text>)</a>
    </li>
</ul>
